* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: comic sans ms;
}

a {
	text-decoration: none;
	color: #9D54D1;
}

div {
	border: 1px solid black;
}

.alert {
	margin: 15% 30%;
}

.wrapper, .wrapper_info{
   width: 1200px;
   min-height: 800px;
   margin: 0px auto;    
   text-align: justify;
   background-color: white;
   overflow: hidden;
}

.wrapper_info {
   text-align: center;
}

.wrapper_two {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   flex-wrap: wrap;	
   min-height: 800px;
}

.primary_one{
   width: 20%;
}
 
.primary_two{
   width: 20%;
}

.primary_three{
   width: 60%;
}

footer img{
max-width: 15%;
max-height: 15%;
text-align: center;
margin: 0px auto; 
}

footer {
	color: #99c50a;
	margin: 0px auto; 
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	padding: 20px;
}

.sidebar {	
	text-align: center;
	padding: 10px;
}

.primary_foto {
	height: 250px;
}

.in_foto{
	height: 230px;	
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	margin: 10px;
}

.oval {
	border-radius: 50px;
	height: 50px;
	width: 50px;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	margin: 5px;
}

.foto_users {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;	
}

.right {
	margin: 5%;
}

.info {
	min-height: 200px;	
}

.info p {
	margin: 10px;	
}

.friends {
}

.my_foto{
	height: 200px;
}

.band{
	
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.edit {
	width: 250px;
	height: 100px;
}

.custom {
	float: right;
	margin: 2% 2% 0 0;
}

.news {
	text-align: center;
}

.news_head {
	width: 95%;
}

.news_text {
	width: 95%;
	height: 150px;
}

.comments {
	width: 4%;
}

.counter {
	display: inline;
	font-size: 1.8em;
	color: #53CD83;
}

.close {
	float: right;
	margin: 2% 2% 2% 0;	
	width: 4%;	
}

.what_new {
	margin: 1%;
}

.ash {
	/*background: #D4D4D4;*/
}

.in_friend {
	margin: 4%;
	width: 92%;
	height: 70px;
	background: #0000B8;
	border-radius: 10px;
	text-align: center;
}

.in_friend a {
	padding: 20px;
	display: block;
	color: white;	
}

.his_friends, .subscriptions {
	text-align: center;
}

.dialog {

}

.dialog p {
	margin-left: 30px;
	margin-bottom: 10px;
}

.foto_dialog {
	height: 100px;
	width: 100px;
	border-radius: 100px;
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
	margin: 10px;
}

.left_dialog {
	float: left;
	margin: -50px 0 0 150px;
}

.right_dialog {
	float: right;
	margin: -50px 20px 0 70px;
}